* {
    box-sizing: border-box;
}

:root {
    --clr-text: #2e2e2e;
    --clr-bg: #fafafa;
}

body {
    display: grid;
    row-gap: 1em;
    
    background-color: var(--clr-bg);

    color: var(--clr-text);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
}

h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.genre-list {
    justify-self: center;
    display: grid;
    width: max-content;
    border: 2px solid gray;
}

.genre-list > * {
    height: 3.1em;
    width: 12.5em;
    display: grid;
    place-items: center; 
}

.genre-list div:nth-child(5n) {
    grid-column: 5;
}
.genre-list div:nth-child(odd) {
    background-color: var(--clr-text);
    color: var(--clr-bg);
}

.genre-list > *:hover {
    cursor: pointer;
    color: #d87093;
}

.genre-list div.clicked {
    background-color: #abc8d1;
    border: 1px solid #d87093;
}

.movie-list {
    display: grid;
    margin-block-start: 2em;
    gap: 1em;
    justify-content: center;
}

.movie-list div {
    display: grid;
    max-width: 20em;  
    grid-template-rows: 13em 3.2em 1fr;
    row-gap: 0.5em;
    border: 1px solid gray;
    padding: 0.5em;
    background-color:antiquewhite;   
}


.movie-list div:nth-child(3) {
    grid-column: 3;
}


.movie-list .movie-card h3{
    display: grid;
    text-wrap: balance;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    /* place-self: center; */
    place-items: center;
    
}

.movie-list .movie-card p{
    text-wrap: pretty; 
    padding: 0;
    margin: 0;
   
}

.movie-list .movie-card img {
    height: 13em;
    justify-self: center;
}