* {
    box-sizing: border-box;
}

:root {
    --clr-text: white;
    --clr-bg: #429251;
}

body {
    display: grid;
    justify-content: center;
    row-gap: 2em;
}

.question-box {
    display: grid;
    justify-content: center;
    background-color: var(--clr-bg);
    color: var(--clr-text);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

    height: 200px;
    width: 400px;
    margin: auto;
    padding: 2em;
}

h1, h2 {
    margin: 0;
}

h1{
    text-transform: uppercase;
}

h2 {
    color: lightgray;
    align-self: start;
}

h1, input {
    align-self: end;
}

input {
    border: none;
    border-radius: 10px;
    padding: 1em;
    height: 30px;
}

img {
    height: 200px;
    
}

.answer-display {
    display: grid;
    column-gap: 1em;
}

.step1-ans, .step1-img {
    grid-column: 1;
}

.step1-ans {
    text-transform: uppercase;
}

.step1-ans, .step2-ans {
    grid-row: 1;
    text-align: center;
}
.step2-ans, .step2-img, .step2-joke {
    grid-column: 2;
}

.hidden {
    display: none;
}

.step2-joke {
    max-width: 300px;
}